{% extends "base.html" %}

{% load static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jumbotron.css' %}">
{% endblock %}
{% block content %}
    <main role="main">

        <!-- Main jumbotron -->
        <div class="jumbotron">
            <div class="container" style="text-align: center;">
                {% comment %}
                <div class="col-md-6">
                    <img src="../../static/img/understory-logo.png" class="img-fluid">
                </div>
                {% endcomment %}
                {% comment %}
                <h2 class="display-5">UNDERSTORY</h2>
                <h5 class="display-5">Stories without a home</h5>
                {% endcomment %}
                <img src="../../static/img/understory-logo-text-v2.png" class="img-fluid" alt="Understory: Stories Without A Home">
            </div>
        </div>

        <div class="container">
            {# Latest issues #}
            <div style="text-align: center;"><h2>Issues</h2></div>
            <div class="featured-issues row">
                {% for issue in issuepages %}
                    {% with issue=issue.specific %}
                        <div class="col-md-4">
                                <a href="{% pageurl issue %}">
                                    <figure>
                                        {% image issue.image fill-430x254-c100 %}
                                    </figure>
                                    <h4>{{ issue.title }}</h4>
                                </a>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
            {# Latest articles #}
            {% comment %}
            <div style="text-align: center;"><h2>Articles</h2></div>
            <div class="row">
                {% for article in articlepages %}
                    {% with article=article.specific %}
                        <div class="col-md-4">
                            <h4>{{ article.title }}</h4>
                            <p>{{ article.intro | richtext }}</p>
                            <p><a class="btn btn-secondary" href="{% pageurl article %}" role="button">Read more
                                &raquo;</a></p>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
            {% endcomment %}
            <!-- Resources -->
            <br />
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div style="text-align: center;"><h2>Resources</h2></div>
                </div>
            </div>

            <hr>
            {{ page.body|richtext }}

        </div> <!-- /container -->

    </main>
{% endblock %}

