{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-issuepage{% endblock %}

{% block content %}
    <main role="main">
        <div class="container">
            <h1>{{ page.title }}</h1>
            {% if page.date %}
                <h1>{{ page.date }}</h1>
            {% endif %}
            {% comment %}
            {% if page.name %}
                <p class="meta">By: {{ page.name }}</p>
            {% endif %}

            <div class="intro">{{ page.intro }}</div>

            {{ page.body|richtext }}
            {% endcomment %}

            {# Articles #}
            {% for article in articlepages %}
                {% with article=article.specific %}
                    <h2>
                        <a href="{% pageurl article %}">{{ article.title }}</a>
                        {% if article.name %}
                            by {{ article.name }}
                        {% endif %}
                    </h2>

                    {% comment %}
                    {% if article.date %}
                        <p class="meta">{{ article.date }}</p>
                    {% endif %}
                    {% endcomment %}
                    {% comment %}
                    {{ article.body|richtext }}
                    {% endcomment %}
                    <br />
                {% endwith %}
            {% endfor %}

            <p><a href="../">Return to the Understory issue list</a></p>
        </div>
    </main>
{% endblock %}
