{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-issueindexpage{% endblock %}

{% block content %}
    <main role="main">
        {% comment %}
        <div class="container-fluid">
        {% endcomment %}
        <div class="container">
            <h1>{{ page.title|upper }}</h1>

            <div class="intro">{{ page.intro|richtext }}</div>

            {% for issue in issuepages %}
                {% with issue=issue.specific %}
                    {% if issue.image %}
                        <div class="img-issue">
                            {% comment %}
                            {% image issue.image width-600 class="img-fluid" alt="Issue lead image" %}
                            {% endcomment %}
                            {% image issue.image fill-310x254-c100 %}
                        </div>
                    {% endif %}
                    <h2><a href="{% pageurl issue %}">{{ issue.title|upper }}</a></h2>

                    {% if issue.date %}
                        <h3>{{ issue.date|date:"M, Y" }}</h3>
                    {% endif %}
                    {% comment %}
                    {% if issue.name %}
                        <p class="meta">By: {{ issue.name }}</p>
                    {% endif %}
                    {{ issue.body|richtext }}
                    {% endcomment %}
                    <br />
                {% endwith %}
            {% endfor %}
        </div>
    </main>
{% endblock %}
h
