{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-issuepage{% endblock %}

{% block content %}
    <main role="main">
        <div class="container-fluid">
            {# Display the lead image for the issue. #}
            {% if page.image %}
                <div class="img-issue">
                    {% image page.image width-600 class="img-fluid" alt="Issue lead image" %}
                </div>
            {% endif %}
            <br />
            <br />
            {# Display the issue number. #}
            <h3>{{ page.title }}</h3>
            {% if page.date %}
                <h3>{{ page.date }}</h3>
            {% endif %}
            <br /> {# Space between issue number+date and content #}
            {# List all of the articles. "articlepages" is injected into the context via issue/models.py. #}
            {% for article in articlepages %}
                {% with article=article.specific %}
                    <h3>
                        <a href="{% pageurl article %}">{{ article.title|upper }}</a>
                        {% if article.name %}
                            <br />
                            by {{ article.name|title }}
                        {% endif %}
                    </h3>
                    {% comment %}
                    Go through the translation queryset and for each translation make a link
                    to the translated article. But if there are no translations output a
                    linebreak (in place of <p> which would have done that if there were
                    a translation).
                    {% endcomment %}
                    {% if article.translations.all %} {# .all filters out empty querysets #}
                        {% with num_of_translations=article.translations.count %}
                        <p style="text-align: center">Read in
                        {# When there is one translation just link it. #}
                        {% if num_of_translations == 1 %}
                            {% with translation=article.translations.all.0 %} {# get first index #}
                                <a href="{% pageurl translation %}">{{ translation.language }}</a>
                            {% endwith %}
                        {# With two translations link both joined with a conjunction. #}
                        {% elif num_of_translations == 2 %}
                            {% with translation=article.translations.all %}
                                <a href="{% pageurl translation.0 %}">{{ translation.0.language }}</a>
                                and
                                <a href="{% pageurl translation.1 %}">{{ translation.1.language }}</a>
                            {% endwith %}
                        {% else %}
                            {% comment %}
                            For all of the translations, if the element is the last of the translations, print:
                            "and <language>". Otherwise, print "<language>,"
                            {% endcomment %}
                            {% for translation in article.translations.all %}
                                {% with translation=translation.specific %}
                                    {% if translation == article.translations.all.last %}
                                        and <a href="{% pageurl translation %}">{{ translation.language }}</a>
                                    {% else  %}
                                        <a href="{% pageurl translation %}">{{ translation.language }}</a>, {# comma #}
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        {% endif %}
                        </p>
                            <br /> {# Add lines between stories with translations. #}
                        {% endwith %}
                    {% else %} {# If no articles in article.translations.all, enter a linebreak in place of <p> #}
                            <br />
                            <br /> {# Add lines between stories with no translations. #}
                    {% endif %}
                {% endwith %}
            {% endfor %}
            <div style="text-align: center;">
                <p><a href="../">Return to the Understory issue list</a></p>
            </div>
        </div>
    </main>
{% endblock %}
