{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-articleindexpage{% endblock %}

{% block content %}
  <main role="main">
    <div class="container">
      <h1>{{ page.title }}</h1>

      {% comment %}
        <div class="intro">{{ page.intro|richtext }}</div>
      {% endcomment %}
      <br />

      <div class="featured-stories row">

        {% for article in articlepages %}
          {% with article=article.specific title=article.title|upper %}

            {% if article.language == "English" %}
              <div class="col-md-4">
                <a href="{% pageurl article %}">
                  <figure>
                    {% image article.lead_image fill-430x254-c100 alt=article.lead_image_alt_text %}
                  </figure>
                  <h3>{{ title|safe }}
                </a>
                {% with num_of_authors=article.authors.count %}
                  {% if num_of_authors == 1%}
                    <br />by {{ article.authors.first.author.name }}
                  {% elif num_of_authors == 2 %}
                    <br />by {{ article.authors.all.0.author.name }}
                    and
                    {{ article.authors.all.1.author.name }}
                  {% elif num_of_authors > 2 %}
                    <br />by
                    {% for iter in article.authors.all %}
                      {% if iter == article.authors.last %}
                        and {{ iter.author.name }}
                      {% else %}
                        {{ iter.author.name }},&nbsp;
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                {% endwith %}

                  </h3>
                  {% comment %}
                    Go through the translation queryset and for each translation make a link
                    to the translated article. But if there are no translations output a
                    linebreak (in place of <p> which would have done that if there were
                    a translation).
                  {% endcomment %}
                  {% if article.translations.all %} {# .all filters out empty querysets #}
                    {% with num_of_translations=article.translations.count %}
                      <p style="text-align: center">Read in
                      {# When there is one translation just link it. #}
                      {% if num_of_translations == 1 %}
                        {% with translation=article.translations.all.0 %} {# get first index #}
                          <a href="{% pageurl translation %}">{{ translation.language }}</a>
                        {% endwith %}
                        {# With two translations link both joined with a conjunction. #}
                      {% elif num_of_translations == 2 %}
                        {% with translation=article.translations.all %}
                          <a href="{% pageurl translation.0 %}">{{ translation.0.language }}</a>
                          and
                          <a href="{% pageurl translation.1 %}">{{ translation.1.language }}</a>
                        {% endwith %}
                      {% else %}
                        {% comment %}
                          For all of the translations, if the element is the last of the translations, print:
                          "and <language>". Otherwise, print "<language>,"
                        {% endcomment %}
                        {% for translation in article.translations.all %}
                          {% with translation=translation.specific %}
                            {% if translation == article.translations.all.last %}
                              and <a href="{% pageurl translation %}">{{ translation.language }}</a>
                            {% else  %}
                              <a href="{% pageurl translation %}">{{ translation.language }}</a>, {# comma #}
                            {% endif %}
                          {% endwith %}
                        {% endfor %}
                      {% endif %}
                      </p>
                      <br /> {# Add lines between stories with translations. #}
                    {% endwith %}
                  {% else %} {# If no articles in article.translations.all, enter a linebreak in place of <p> #}
                    <br />
                    <br /> {# Add lines between stories with no translations. #}
                  {% endif %}


                  {% comment %}
                    {% with post.main_page as main_image %}
                      {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
                    {% endwith %}
                  {% endcomment %}

                  {% comment %}
                    {% if article.date %}
                      <p class="meta">{{ article.date }}</p>
                    {% endif %}
                    {% if article.name %}
                      <p class="meta">By: {{ article.name }}</p>
                    {% endif %}
                    {{ article.intro | richtext }}
                  {% endcomment %}
                  <br />
              </div>
            {% endif %}
          {% endwith %}
        {% endfor %}

      </div>
    </div>
  </main>
{% endblock %}


