{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load translation_tags %}

{% block body_class %}template-articleindexpage{% endblock %}

{% block content %}
  <main role="main">
    <div class="container">
      <h1>{{ page.title }}</h1>

      {% comment %}
        <div class="intro">{{ page.intro|richtext }}</div>
      {% endcomment %}
      <br />

      <div class="featured-stories row">

        {% for article in articlepages %}
          {% with article=article.specific title=article.title|upper %}

            {% if article.language == "English" %}
              <div class="col-md-4">
                <a href="{% pageurl article %}">
                  <figure>
                    {% image article.lead_image fill-430x254-c100 alt=article.lead_image_alt_text %}
                  </figure>
                  <h3>{{ title|safe }}
                </a>
                {% with num_of_authors=article.authors.count %}
                  {% if num_of_authors == 1%}
                    <br />by {{ article.authors.first.author.name }}
                  {% elif num_of_authors == 2 %}
                    <br />by {{ article.authors.all.0.author.name }}
                    and
                    {{ article.authors.all.1.author.name }}
                  {% elif num_of_authors > 2 %}
                    <br />by
                    {% for iter in article.authors.all %}
                      {% if iter == article.authors.last %}
                        and {{ iter.author.name }}
                      {% else %}
                        {{ iter.author.name }},&nbsp;
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endwith %}

                  </h3>
                  {# Handle any translations. #}
                  {% if article.get_all_translations %}
                    <p style="text-align:center">Read in {% link_translations article.get_all_translations %}</p>
                    <br /> {# Add lines between stories with translations. #}
                  {% else %} {# If no articles in article.translations.all, enter a linebreak in place of <p> #}
                    <br />
                    <br /> {# Add lines between stories with no translations. #}
                  {% endif %}

                  {% comment %}
                    {% with post.main_page as main_image %}
                      {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
                    {% endwith %}
                  {% endcomment %}

                  {% comment %}
                    {% if article.date %}
                      <p class="meta">{{ article.date }}</p>
                    {% endif %}
                    {% if article.name %}
                      <p class="meta">By: {{ article.name }}</p>
                    {% endif %}
                    {{ article.intro | richtext }}
                  {% endcomment %}
                  <br />
              </div>
            {% endif %}
          {% endwith %}
        {% endfor %}

      </div>
    </div>
  </main>
{% endblock %}
