{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-articlepage{% endblock %}

{% block content %}
    <main role="main">
    <div class="container">
    <h2>{{ page.title }}</h2>
        {% comment %}
        {% if page.date %}
            <p class="meta">{{ page.date }}</p>
        {% endif %}
        {% endcomment %}
        {% if page.name %}
            <h3>{{ page.name }}</h3>
        {% endif %}

    {{ page.body|richtext }}


    {% if page.tags.all.count %}
        <div class="tags">
            <h3>Tags</h3>
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
            {% endfor %}
        </div>
    {% endif %}

    {% comment %}
    <p><a href="{{ page.get_parent_url }}">Return to the Understory article</a></p>
    {% endcomment %}
    <p><a href="../">Return to the Understory article list</a></p>
    </div>
    </main>
{% endblock %}
