{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% load crispy_forms_tags %}

{% block body_class %}template-submit{% endblock %}

{% block content %}
    <main role="main">
    <div class="container">
    <h1>{{ page.title }}</h1>
    {{ page.intro | richtext }}
        {% comment %}
    <form method="post" action="{% pageurl page %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endcomment %}
    <br />
    </div>
    </main>
{% endblock %}
