{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load translation_tags %}

{% block body_class %}template-five_questionsindexpage{% endblock %}

{% block content %}
  <main role="main">
    <div class="container">
      <h1>{{ page.title }}</h1>

      {% comment %}
        <div class="intro">{{ page.intro|richtext }}</div>
      {% endcomment %}
      <br />

      <div class="featured-resources row">

        {% for five_questions in five_questionspages %}
          {% with five_questions=five_questions.specific title=five_questions.title|upper %}
            {% if five_questions.language == "English" and five_questions.is_suppressed == False %}
              <div class="col-md-4">
                <a href="{% pageurl five_questions %}">
                  <figure>
                    {% image five_questions.lead_image fill-430x254-c100 alt=five_questions.lead_image_alt_text %}
                  </figure>
                  <h3>
                    <span class="line-spacing">
                      {{ title|safe }}
                    </span>
                </a>
                {% with num_of_authors=five_questions.authors.count %}
                  {% if num_of_authors == 1%}
                    <br />by {{ five_questions.authors.first.author.name }}
                  {% elif num_of_authors == 2 %}
                    <br />by {{ five_questions.authors.all.0.author.name }}
                    and
                    {{ five_questions.authors.all.1.author.name }}
                  {% elif num_of_authors > 2 %}
                    <br />by
                    {% for iter in five_questions.authors.all %}
                      {% if iter == five_questions.authors.last %}
                        and {{ iter.author.name }}
                      {% else %}
                        {{ iter.author.name }},&nbsp;
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                {% endwith %}

                  </h3>
                  {# Handle any translations. #}
                  {% if five_questions.get_all_translations %}
                    <p style="text-align:center">Read in {% link_translations five_questions.get_all_translations %}</p>
                    <br /> {# Add lines between stories with translations. #}
                  {% else %} {# If no articles in article.translations.all, enter a linebreak in place of <p> #}
                    <br />
                    <br /> {# Add lines between stories with no translations. #}
                  {% endif %}
              </div>
            {% endif %}
          {% endwith %}
        {% endfor %}

      </div>
    </div>
  </main>
{% endblock %}
