.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: right;
}

body {
  font-family: 'Lato', sans-serif;
}
p {
  font-family: 'Lato', sans-serif;
}

