{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load translation_tags %}

{% block body_class %}template-invitationsindexpage{% endblock %}

{% block content %}
  <main role="main">
    <div class="container">
      <h1>{{ page.title }}</h1>

      {% comment %}
        <div class="intro">{{ page.intro|richtext }}</div>
      {% endcomment %}
      <br />

      <div class="featured-stories row">

        {% for invitations in invitationspages %}
          {% with invitations=invitations.specific title=invitations.title|upper %}
            {% if invitations.language == "English" %}
              <div class="col-md-4">
                <a href="{% pageurl invitations %}">
                  <figure>
                    {% image invitations.lead_image fill-430x254-c100 alt=invitations.lead_image_alt_text %}
                  </figure>
                  <h3>{{ title|safe }}
                </a>

                {# Authors #}
                {% with num_of_authors=invitations.authors.count %}
                  {% if num_of_authors == 1%}
                    <br />by {{ invitations.authors.first.author.name }}
                  {% elif num_of_authors == 2 %}
                    <br />by {{ invitations.authors.all.0.author.name }}
                    and
                    {{ invitations.authors.all.1.author.name }}
                  {% elif num_of_authors > 2 %}
                    <br />by
                    {% for iter in invitations.authors.all %}
                      {% if iter == invitations.authors.last %}
                        and {{ iter.author.name }}
                      {% else %}
                        {{ iter.author.name }},&nbsp;
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                  </h3>

                  {# Handle any translations. #}
                  {% if invitations.get_all_translations %}
                    <p style="text-align:center">Read in {% link_translations invitations.get_all_translations %}</p>
                    <br /> {# Add lines between stories with translations. #}
                  {% else %} {# If no articles in article.translations.all, enter a linebreak in place of <p> #}
                    <br />
                    <br /> {# Add lines between stories with no translations. #}
                  {% endif %}

              </div>
            {% endif %}
          {% endwith %}
        {% endfor %}
      </div>
  </main>
{% endblock %}
