/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 0rem;
}

/* navbar icon color on all pages but jumbotron */
.fa-bars {
  color: black;
}
.fa-search {
  color: black;
}
