.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: left;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.1rem;
  font-family: 'Lato', sans-serif;
  background: rgba(254, 254, 250, 1);
}

p {
  font-family: 'Lato', sans-serif;
}

title {
  font-family: 'Arvo', serif;
}

h1 {
  font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: #000;
}

h3 {
    font-family: 'Playfair Display', serif;
}

h4 {
  font-family: 'Lato', sans-serif;
}

h5 {
  font-family: 'Lato', sans-serif;
}

/* Issue images */
.featured-issues h4 {
  text-align: center;
  margin: 20px;
}

.featured-issues figure {
  background-color: #eb7400;
  margin: 0;
  overflow: hidden;
}

.featured-issues li {
  list-style: none;
}

.featured-issues li:hover img {
  opacity: 0.3;
}

/* Remove hamburger button border when not active/selected */
.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.jumbotron {
 background: url("../img/understory-bg-blank.jpg") fixed center no-repeat;
 background-size: 100% 100%;
 border-radius: 0 !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}

/* navbar icon color on all pages but jumbotron */
.fa-bars {
    color: blue;
}
.fa-search {
    color: blue;
}
